@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

body {
    background-image: url('/img/background.jpg');
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: blue;
}

#board {
    background-color: #120458;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
    border: #120458;
}

.snake {
    background-color: #ff124f;
    border: .25vmin solid black;
    border-radius: 50px;
}

.food{
    background-color: #ff00a0;
    border: .25vmin solid black;
    border-radius: 50px;
}

:root {
    --yellow-color: #fcee09; 
    --red-color: #ff003c;
    --black-color: #050a0e;
    --blue-color: #00f0ff;
  }

button, .start-reset {
    display: flex;
    align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  background-color: var(--yellow-color);
  color: var(--black-color);
  cursor: pointer;
  padding: 20px 25px;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: .85rem;
  text-transform: uppercase;

}

.score {
    text-decoration: #ff124f;
}

